{{outlet}} <br><br>{{paper-progress-linear}}
<h1>Menu Tracker</h1>
<p>Menu Tracker helps you see what dishes are available today,</p>
<div id="container">
  {{#paper-list}}
    {{#each model as |food|}}
      {{#if food.available}}
        {{#paper-item class="md-3-line" }}
          <div class="md-list-item-text">
            <h3>{{food.name}}!</h3>
            {{#paper-button onClick=(action "makeUnavailable" food)}}Make Unavailable{{/paper-button}}
            {{increment-decrement-property food=food}}
          </div>
          {{paper-divider}}
          {{#paper-button onClick=(action "destroyItem" food)}}Destroy{{/paper-button}}
        {{/paper-item}}
      {{else}}
        {{#paper-item class="md-3-line" }}
          <div class="md-list-item-text">
            <h3><s>{{food.name}}!</s></h3>
            {{#paper-button onClick=(action "makeAvailable" food)}}Make Available{{/paper-button}}
            {{increment-decrement-property food=food}}
          </div>
          {{paper-divider}}
          {{#paper-button onClick=(action "destroyItem" food)}}Destroy{{/paper-button}}
        {{/paper-item}}
      {{/if}}
    {{/each}}
  {{/paper-list}}
</div>


{{food-add-record}}

<h3>{{model.length}} foods total</h3>
<h3>{{availableItem.length}} foods available</h3>
